.help
  justify-content flex-start
  flex-direction column
  align-content stretch
  align-items stretch
  padding .5em
  display flex
  height 100%
  width 100%

  .help-container
    justify-content flex-start
    align-content stretch
    align-items stretch
    flex-direction row
    display flex
    flex 1

    .help-outer-content
      flex-direction column
      margin-bottom 10px
      overflow auto
      padding 10px

      .help-inner-content
        padding-right 10px
        height 0

    .help-spacer
      margin-top 20px

  .help-icon
    i
      color #BD362F

  .header
    display flex

    div
      align-items center
      display flex

      p
        text-transform uppercase
        margin-bottom 0
        padding-left .5em
        font-size 3em
        color probedock-gray

        span
          font-weight bold
          color probedock-red

    img
      animation flickerAnimation 5s infinite
      width 100px
      opacity 1

    @keyframes flickerAnimation
      0%
        opacity 1
      50%
        opacity 0.5
      100%
        opacity 1
