.main
  img
    animation flickerAnimation 5s infinite
    position absolute
    height 95%
    opacity 1
    left 25%
    top 2.5%

  @keyframes flickerAnimation
    0%
      opacity 1
    50%
      opacity 0.5
    100%
      opacity 1
