.main
  padding .5em
  height 100%

  .help-icon
    i
      color #2F96B4

  .main-grid
    flex-direction row
    display flex
    height 100%

    .main-grid-left
      flex 3

    .main-grid-right
      flex 1

