.main
  switch-ui.help-icon(title='Open the help' ng-click='switchUiCtrl.switch("help")')
    i.glyphicon.glyphicon-question-sign

  .main-grid
    .main-grid-left

    .main-grid-right
      execution-filters
      notifications
