doctype html
html(ng-app='probedock-rt', ng-strict-di=true, lang='en')
  head
    meta(charset='utf-8')
    base(href='/')

    title Probe Dock RT

    != css('app')
    != js('app')

    link(rel='shortcut icon', type='image/x-icon', href='/favicon.ico')
  body
    .debugGrid

    .ui(ui-view)
