probedock-red = #E9454C
probedock-gray = #313131

xenon-bg-color = #EEE
xenon-panel-bg-color = #CCC

xenon-purple = 	    #7c38bc
xenon-blue = 		    #0e62c7
xenon-red = 		    #d5080f
xenon-light-blue =  #4fcdfc
xenon-black = 		  #222222
xenon-gray = 		    #eeeeee
xenon-orange = 	    #f7aa47
xenon-pink = 		    #ff6264
xenon-turquoise =   #00b19d
xenon-yellow = 	    #fcd036
