.execution-filters
  padding 20px

  .input-group-addon
    button
      padding 0 5px

//.filters {
//  padding: 20px;
//}
//
//.filters-form {
//  margin-bottom: 0px !important;
//  display: block;
//}
//
//#filterField {
//  @include border-radius(25px 0px 0px 25px);
//}
//
//#filterClearAll {
//  @include border-radius(0px 25px 25px 0px);
//}
//
//.filters-container {
//  padding-right: 5px;
//}
//
//.filter-elements {
//  display: inline-block;
//  margin-top: 10px;
//
//  &:empty {
//    display: none;
//  }
//}
//
//.filter-element {
//  @include border-radius(25px);
//  border: 2px solid ghostwhite;
//  padding: 0px 10px;
//  font-size: large;
//  margin-left: 5px;
//  text-align: left;
//  margin-top: 5px;
//  float: left;
//}
//
//.filter-element:first {
//  margin-left: 0px;
//}
//
//.filter-element-text {
//  line-height: 26px;
//  color: ghostwhite;
//  padding: 1px;
//}
//
//.filter-element-close {
//  color: ghostwhite !important;
//  line-height: 24px;
//  margin-left: 5px;
//  margin-top: -3px;
//  background: none;
//  border: none;
//
//  &:hover {
//    font-weight: bold !important;
//  }
//}
//
//.filter-icon {
//  padding-right: 4px;
//  position: relative;
//  font-size: 14px;
//  top: -1px;
//
//  &:after {
//    content: " ";
//  }
//}
