.execution-filters
  padding 20px

  .form-group
    margin-bottom 0

  .input-group-addon
    button
      padding 0 5px

      &:active
        box-shadow none

  .execution-filters-error
    color probedock-red
    margin-bottom 10px
    font-weight bold
    text-align left
    font-size 1.2em

  .execution-filters-elements
    justify-content center
    margin-top 10px
    flex-wrap wrap
    display flex

    &:empty
      display none

    .execution-filters-element
      background-color xenon-gray
      align-items center
      font-size large
      margin-left 5px
      margin-top 5px
      display flex
      padding 5px
      color probedock-gray

      &:first
        margin-left 0

      .execution-filters-element-text
        flex-direction row
        line-height 26px

      .execution-filters-element-close
        font-weight normal !important
        line-height 18px
        background none
        font-size 14px
        border none

        &:hover
          color probedock-red !important

      .execution-filters-icon
        font-size 14px
        padding 0 5px
        cursor default

        &:after
          content " "

    .execution-filters-element-key
      background-color xenon-orange

    .execution-filters-element-fp
      background-color xenon-light-blue

    .execution-filters-element-name
      background-color lighten(xenon-purple, 50%)

    .execution-filters-element-ticket
      background-color xenon-turquoise

    .execution-filters-element-tag
      background-color xenon-yellow
