.execution-filters.box
  from.form-inline.filters-form.text-center
    .form-group
      .input-group
        input.form-control.input-lg#filterField(type='text', placeholder='Execution filters' ng-model='filter.text' ng-keyup='execFiltersCtrl.addFilterFromKeyboard($event, filter)')
        .input-group-addon
          button.btn.filter-add(title='Click to add an execution filter' ng-click='execFiltersCtrl.addFilter(filter)')
            i.glyphicon.glyphicon-plus
        .input-group-addon
          button.btn.filter-clear-all(title='Click to clear all the current execution filters' ng-click='execFiltersCtrl.clearFilters()')
            i.glyphicon.glyphicon-trash
    .filter-elements.filter-elements-hide
      .filter-element(ng-repeat='filter in execFiltersCtrl.filters()' data-filter='{{ filter.text }}')
        i.glyphicon(class='glyphicon-{{ filter.ui.ico }}' title='{{ filter.ui.title }}')
        span.filter-element-text {{ filter.textSummary }}
        button.filter-element-close(ng-click='execFiltersCtrl.clearFilter(filter)')
          i.glyphicon.glyphicon-remove-circle
